.mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
.mat-card{
    background-color: rgb(220, 215, 215);
    /* padding-left: 550px; */
    width:550px;
    height:350px;
    margin-top: 100px;
    margin-left: 500px;
    border-radius: 15px;
}
.header{
    font-size:2rem;
    padding-left: 250px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(92, 92, 252);
    padding-bottom: 10px;
    border-radius: 5px;
}
.mat-content{
padding-left: 16px;
}
.example-full-width {
    width: 100%;
  }
  .mat-card-footer{
    padding-left: 215px;
  }
  .footer{
    text-align: center;
    padding-top: 15px;
  }