
<p>
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <span>Ls Authentication</span>
        <span class="example-spacer"></span>
        <ng-container *ngIf="authservice.currentuser$ |async as user; else signupbutton">
            <button mat-flat-button color="primary" ><a (click)="logout()" style="color: aliceblue;">
                Logout</a>
        </button>
        </ng-container>

        <ng-template #signupbutton>
            <button mat-flat-button color="primary" ><a routerLink="/signup" style="color: aliceblue;">
                SIGN UP</a>
        </button>
        </ng-template>
           
      </mat-toolbar-row>
    </mat-toolbar>
    </p>
<router-outlet></router-outlet>
